@page
@model FilmesCRUDRazor.Pages.Filmes.IndexModel

@{
    ViewData["Title"] = "Index";
}



<div class="container">
   <div class="row">
      <div class="col-md-12">
         <p>
            <a class="btn btn-sm btn-outline-primary" asp-page="Create">
                <span class=""> Adicionar Filme</span>  <!-- Adicionar  icones -->
                </a>
         </p>
         <table class="table">
            <thead>
               <tr>
                  <th>
                     @Html.DisplayNameFor(model => model.Filme[0].Titulo)
                  </th>
                  <th>
                     @Html.DisplayNameFor(model => model.Filme[0].DataLancamento)
                  </th>
                  <th>
                     @Html.DisplayNameFor(model => model.Filme[0].Genero)
                  </th>
                  <th>
                     @Html.DisplayNameFor(model => model.Filme[0].Preco)
                  </th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               @foreach (var item in Model.Filme)
               {
               <tr>
                  <td>
                     @Html.DisplayFor(modelItem => item.Titulo)
                  </td>
                  <td>
                     @Html.DisplayFor(modelItem => item.DataLancamento)
                  </td>
                  <td>
                     @Html.DisplayFor(modelItem => item.Genero)
                  </td>
                  <td>
                     @Html.DisplayFor(modelItem => item.Preco)
                  </td>
                  <td>
                    
                    <a class="btn btn-sm btn-outline-warning" asp-page="./Edit" asp-route-id="@item.FilmeId">
                    <span class=""> Editar</span></a>

                    <a class="btn btn-sm btn-outline-info" asp-page="./Details" asp-route-id="@item.FilmeId">
                    <span class=""> Detalhes</span></a>

                    <a class="btn btn-sm btn-outline-danger" asp-page="./Delete" asp-route-id="@item.FilmeId">
                    <span class=""> Excluir</span></a>

                  </td>
               </tr>
               }
            </tbody>
         </table>
      </div>
   </div>
</div>
